<nav class="navbar justify-content-center">
  <div class="d-flex flex-row">
    <!-- <div class="p-1"> -->
      <a class="navbar-brand">
        <!-- <button style="position:relative; right:140%; top:40%" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="goToHome()">
          <img src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="30" >
        </button> -->
        <p style="position:relative; right:65%; top:20%;font-size: 40px;">JomNom </p>
        
      </a>
    <!-- </div> -->
    <form class="d-flex">
      <div style="position:relative; left:5%; top:40%" >
        <input class="form-control" type="search" placeholder="Search Location or Food" aria-label="Search" size="100%"  #searchName>
      </div>
      <div style="position:relative; right:5%; top:35%"  >
        <button class="btn btn-success" type="submit" (click)="search(searchName.value); searchName.value=''">Search</button>
      </div>
    </form>
  </div>
</nav>
