<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- <div class="p-1"> -->
      <a class="navbar-brand">
        <!-- <button style="position:relative; right:140%; top:40%" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="goToHome()">

        </button> -->
        <!-- <p style="position:relative; right:65%; top:20%;font-size: 40px;">JomNom </p> -->
        <img style="padding: 0px" src="../../assets/images/Logo-Hori-vr1.svg" alt="" height="55px">
<!--        <p class="title">JomNom</p>-->
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLink="/home" routerLinkActive="active">
          <a class="nav-link" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Raffle</a>
        </li>
        <li class="nav-item" routerLink="/food-challenge" routerLinkActive="active">
          <a class="nav-link">Food Challenge</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
