<nav class="navbar">
    <div class="d-flex flex-row">
      <!-- <div class="p-1"> -->
        <a class="navbar-brand">
          <p class="title">Food Challenge</p>
        </a>
     
    </div>
</nav>

<div *ngFor="let restaurant of restaurants " class="card" style="width: 49%; margin: 2px" (click)="chooseChallenge()">
    <img [src]="restaurant.image" style="height: 65px">
    <div class="card-body">
        <h6 class="card-title">
        {{restaurant.name}}
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        </h6>
        <div class="category">
        {{restaurant.category}}
        </div>
    </div>


    </div>


 