.main {
  margin: 0 auto;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-margin{
  margin: 0;
  padding: 10px 20px;
}

.search {
  background-color:rgb(212, 221, 212);
  padding: 5px;
  border-radius: 4px;
  height: 40px
}
