<div class="example" style="background-color: rgb(26, 75, 77); overflow-x: auto;">
  <div class="justify-content-center text-center" style="white-space: nowrap;">
    <button mat-raised-button *ngFor="let category of categories" class="btn btn-primary" style="margin: 1em;background-color: rgb(56, 141, 134);" (click)="clickCategory(category)">{{category.name}}</button>
  </div>
</div>
<form class="d-flex">
  <div style="position:absolute; left:55%; top:22%;" >
    <input class="form-control" style="background-color:rgb(212, 221, 212)" type="text" [(ngModel)]="searchTerm" placeholder="Search Location or Food" size="60%" #searchName>
  </div>
  <div style="position:relative; left:75%; top:100%"  >
    <button class="btn btn-success" type="submit" (click)="submitFilter(searchName.value); searchName.value=''">Search</button>
  </div>
</form>
<div *ngFor="let restaurant of restaurants | filter:searchTerm" class="card" style="width: 49%; margin: 2px">
  <img [src]="restaurant.image" style="height: 65px">
  <div class="card-body">
    <h6 class="card-title">
      {{restaurant.name}}
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
    </h6>
    <div class="category">
      {{restaurant.category}}
    </div>
    <a href="#" class="stretched-link" (click)="restaurantService.chooseRestaurant(restaurant)"></a>
  </div>
</div>

<button class="btn btn-lg btn-outline-primary" (click)="openRaffle()">Raffle</button>
<button class="btn btn-lg btn-outline-primary" (click)="navigate()">Food Challenge</button>

<div class="main">
<ngx-wheel #wheel
  width='600'
  height='600'
  spinDuration='8'
  [disableSpinOnClick]='true'
  [items]='items'
  [innerRadius]='50'
  [spinAmount]='10'
  pointerStrokeColor='red'
  pointerFillColor='purple'
  [idToLandOn]='idToLandOn'
  (onSpinStart)='before()'
  (onSpinComplete)='after()'
>
</ngx-wheel>
</div>
<div>
  <button (click)="wheel.spin()">Raffle it!</button>
  <button (click)="[resetButton(),wheel.reset()]">Reset</button>
</div>
<!-- <div class="card">
  <img src="../../../assets/restaurant_1.jpg" style="height: 65px">
  <div class="card-body">
    <h6 class=card-title>
      Restaurant Kandar
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
    </h6>
    <div class="category">
      Dine in • Take away • Delivery
    </div>
  </div>
  <div style="justify-content: end; align-items: flex-end;">
  </div>
</div>

<div class="card">
  <img src="../../../assets/restaurant_1.jpg" style="height: 65px;">
  <div class="card-body">
    <h6 class=card-title>
      Restaurant Kandar
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
    </h6>
    <div class="category">
      Dine in • Take away • Delivery
    </div>
  </div>
</div> -->