<div class="card">
  <img src="../../../assets/horse.jpg" style="height: 65px">
  <div class="card-body">
    <h6 class=card-title>
      Restaurant horse
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
    </h6>
    <div class="category">
      Dine in • Take away
    </div>
  </div>
</div>

<div class="card">
  <img src="../../../assets/restaurant_1.jpg" style="height: 65px">
  <div class="card-body">
    <h6 class=card-title>
      Restaurant Kandar
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
    </h6>
    <div class="category">
      Dine in • Take away • Delivery
    </div>
  </div>
  <!-- <div style="justify-content: end; align-items: flex-end;"> -->
  <!-- </div> -->
</div>

<div class="card">
  <img src="../../../assets/restaurant_1.jpg" style="height: 65px;">
  <div class="card-body">
    <h6 class=card-title>
      Restaurant Kandar
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
    </h6>
    <div class="category">
      Dine in • Take away • Delivery
    </div>
  </div>
</div>